@charset "UTF-8";
/**
 * 
 * @authors zyb
 * @date    2015-09-15 12:27:23
 */

/*  reset style  */
body {
	line-height: 1;
	background-color: #ebebeb;
  color: #505050;
}
ol, ul {
	list-style: none;
}
a:link {
  text-decoration: none;
}
header
{
  background: url(../img/banner.jpg);
  height: 265px;
  overflow: hidden;
}

/* common style  */

.box
{
  width: 1000px;
  margin: auto;
  overflow: hidden;
}
.texts {
  width: 350px;
  line-height: 26px;
  margin: 75px 0 0;
  font-size: 14px;
}
.texts p {
    margin-bottom: 0;
    text-shadow: 1px 1px 0 rgba(255,255,255,.8),2px 2px 3px rgba(180,151,151,.3);
}
.avatar
{
  margin: 50px 0 50px -65px;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  overflow: hidden;
  border: #fff 4px solid;
  padding: 0;
  position: absolute;
  top: 0;
  left: 50%;
}
.avatar a {
  display: block;
  width: 130px;
}
.avatar a span {
  display: block;
  width: 130px;
  height: 130px;
  text-align: center;
  line-height: 130px;
  color: #fff;
  background: rgba(0,0,0,.5);
  -webkit-transition: margin-top .2s ease-in-out;
  -moz-transition: margin-top .2s ease-in-out;
  -o-transition: margin-top .2s ease-in-out;
  transition: margin-top .2s ease-in-out;
}
.avatar a.logined
{
  padding-top: 90px;
  background-size: contain;
}
.avatar a.logined span
{
  line-height: 20px;
  margin-top: 130px;
}
.avatar a.logined:hover span
{
  margin-top: 5px;
}

.main-nav
{
  text-align: center;
  background: #ffffff;
  border-top: 1px solid #ebebeb;
  margin: 0 auto 35px;
  border-bottom: 2px solid #e1e1e1;
}
.main-nav .menu>li{
  display: inline-block;
}
.main-nav .menu>li.nav-current {
  border-bottom: 2px solid #f4645f;
}
.main-nav .menu>li>a {
  color: #505050;
  line-height: 4em;
  display: block;
  padding: 0 21px;
}
.main-nav .menu>li:hover > a ,.dropdown-menu>li:hover > a{
  color: #f4645f;
  text-decoration: none;
  background-color: #fff;
}
.main-nav .menu>li>a:active {
  outline: none;
}
.main-nav .navbar-toggle
{
  float: none;
  margin-right: 0;
}
.main-nav .navbar-toggle .icon-bar
{
  background-color: #505050;
}
@media screen and (max-width: 768px) {
  .main-nav .menu li {
    display: block;
  }
}
.dropdown-menu>li {
  border-bottom: 1px #ccc solid;
}
.arrow:before,.arrow:after
{
  content: "";
  display: block;
  line-height: 0;
  font-size: 0;
  height: 0;
  width: 0;
  position: absolute;
  border-width: 10px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent rgba(0,0,0,.15) transparent;
  top: -20px;
  left: 45px;
}
.arrow:after
{
  top: -18px;
  border-bottom-color: #fff;
}

.copyright {
	background: #111;
  font-size: 14px;
  text-align: center;
  color: #555555;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #303030;
}
.copyright span {
    margin: 0 .5em;
}