  <header>
    <div class="container box">
      <div class="row">
        <div class="col-sm-3 hidden-xs">
          <ul class="texts">
            <p>辛苦敲下一行行代码 不知能否改变这个世界</p>
            <p>但我知道 其实我的世界</p>
            <p>不过就是你的心。</p>
          </ul>
        </div>
        <div class="avatar">
        <% if (user) { %>
          <a href="/userCenter" class="logined" 
             style="<%= 'background-image:url(uploads/icon/'+ user.icon +')'%>">
            <span><%= user.name %></span>
          </a>
        <% } else { %>
        <a href="/login">
            <span>登录</span>
          </a>  
      <% } %>         
        </div>
      </div>
    </div>
  </header>
  <nav class="main-nav">
    <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                      data-target="#main-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            </div>
        <div class="collapse navbar-collapse" id="main-menu">
          <ul class="nav menu">
            <li class="nav-current"><a href="/" title="首页">首页</a></li>
            <li><a href="/" title="文章">文章</a></li>
            <li><a href="/" title="相册">相册</a></li>
            <li><a href="/chat" title="留言">留言</a></li>
            <li><a href="/about" title="关于">关于</a></li>
            <li>
              <a href="#" title="" class="dropdown-toggle" data-toggle="dropdown" 
                 aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>个人设置
              </a>
              <ul class="dropdown-menu arrow">
            <li><a href="/userCenter">个人中心</a></li>
            <li><a href="/logout">登出</a></li>
          </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </nav>